.header {
  background-color: hsl(185, 5%, 49%);
  width: 100%;
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin-left: 15px;
  font-size: 24px;
}

.search-container {
  margin-right: 5%;
}

.search-bar {
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.content {
  padding: 20px 0px 45px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  flex: 1;
}
.card {
  width: 300px;
  height: 200px;
  background-color: lightblue;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1.1);
}

.circle-top-right {
  width: 50px;
  height: 50px;
  background-color: #4caf50;
  border-radius: 50%;
  position: relative;
  top: -15px;
  right: -15px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-center {
  width: 100px;
  height: 100px;
  background-color: #387d74;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer {
  background-color: hsl(185, 5%, 49%);
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tab {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #79c47a;
  color: white;
  cursor: pointer;
}

.tab.active {
  background-color: #45a049;
}

.disabled {
  background-color: #9ea39e;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
